div.nav{font:normal .9em/1.5em}div.nav span#logo{padding:0px !important;float:left;line-height:100%;font-style:italic;font-weight:bold;font-size:1.5em;color:#fff}div.nav span#logo img{display:inline-block;position:relative;top:-5px;vertical-align:middle;border:solid 0px #ccc}div.nav span#logo a,div.nav span#logo a:hover{text-decoration:none;color:#000;cursor:pointer}#nav{margin:0 auto;border:none}#nav ul,#nav >li,#nav >a{margin:0;padding:0;float:right;position:relative;list-style:none;height:43px}#nav >li >a{min-height:15px}#nav a{color:#555;text-decoration:none;text-align:center;display:block;height:21px;padding:11px 23px;border-left:1px solid #ccc;border-bottom:none;margin:0}#nav a.rightmost{-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px}#nav:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}#nav{display:inline-block}html[xmlns] #nav{display:block}div.nav p#user_welcome{text-align:right;height:20px}div.nav p#user_welcome span{padding:0px 7px}div.nav p#user_welcome a{text-decoration:none}div.nav p#user_welcome a:hover{text-decoration:underline}div.header_row a{color:black}
body {
	font: 12px/1.4 Verdana, sans-serif;
	font-family: Lucida Grande;
	font-size: 10px
}

#surround_box_div #surround_box {
	font-weight: normal;
	width: 100%;
	position: absolute;
	top: 0px;
	margin-top: 30px
}

#surround_box_div #surround_box #header_row {
	/* background: #579; */
	background: -moz-linear-gradient(top, #579 0%, #246 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #579),
		color-stop(100%, #246) );
	background: -webkit-linear-gradient(top, #579 0%, #246 100%);
	background: -o-linear-gradient(top, #579 0%, #246 100%);
	/* background: -ms-linear-gradient(top, #579 0%, #246 100%); */
	background: linear-gradient(to bottom, #579 0%, #246 100%);
	display: inline-block;
	color: white;
	/* background: #c8c8c8; */
	border: solid 1px #969696;
	margin: 0;
	width: 100%;
	float: center;
	height: 30px;
	-webkit-border-radius: .4em;
	border-radius: .4em;
	-moz-border-radius: .4em;
}

#surround_box_div #surround_box span#showhide {
	float: left;
	padding: 4px
}

#surround_box_div #surround_box span#header {
	float: left;
	display: inline-block;
	font-weight: normal;
	font-size: 10pt;
	text-align: left;
	border: none;
	margin: 0;
	margin-left: 20%;
	padding: 4px
}

#surround_box_div #surround_box span#header strong {
	display: inline-block;
	padding: 8px 10px
}

#services_div.left {
	float: left;
	margin-top: 8px;
	overflow: auto;
	border: 1px solid #969696;
	background-color: #fff;
	width: 15%;
	position: absolute;
	height: 600px;
	-webkit-border-top-left-radius: .4em;
	-webkit-border-top-right-radius: .4em
}

#service_ref {
	height: 100%;
	min-height: 510px;
	margin-top: 35px;
	width: 100%;
	position: relative;
	border: 1px solid #969696;
	-webkit-border-top-left-radius: .4em;
	-webkit-border-top-right-radius: .4em;
	border-top-left-radius: .4em;
	border-top-right-radius: .4em;
}

div .right_header {
	float: right;
	margin-top: 0px;
	width: 84%;
	color: #555;
	height: 27px;
	border: 1px solid #969696;
	-webkit-border-radius: .4em;
	border-radius: .4em
}

#right_header a {
	text-decoration: none
}

div .left_header {
	float: left;
	width: 100%;
	color: black;
	height: 27px;
	background-color: #C8C8C8;
	border-bottom: 1px solid #969696;
	-webkit-border-top-left-radius: .4em;
	-webkit-border-top-right-radius: .4em;
	border-top-left-radius: .4em;
	border-top-right-radius: .4em;
}

.right_header_span {
	color: black;
	font-weight: normal;
	font-size: 1em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,
		sans-serif;
	position: absolute;
	padding: 5px
}

#pathbar_div {
	width: auto;
	float: left;
	height: 100%
}

#pathbar_div span {
	display: inline-block;
	vertical-align: top;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px
}
body{overflow-y:auto;overflow-x:auto}.accordionmenu{ margin:0; margin-top:30px; padding:0; width:100%}.accordionmenu .menuitemspan,.accordionmenu a.menuitem,.accordionmenu .menuitemspan-white{  font:normal 12px Arial,sans-serif; color:black; border-bottom:solid 1px #C1BAAE; display:block; position:relative; width:auto; padding:4px 0; padding-left:10px; text-decoration:none; outline:none; cursor:pointer}.accordionmenu .menuitemspan-white{ font:normal 12px Arial,sans-serif; background-image:none; background-color:#ECECEC; color:black}.accordionmenu a.menuitemspan-white:hover{ background:#ECECEC; color:black}.accordionmenu .menuitemspan a.menutext{ font:normal 12px Arial,sans-serif; color:white; text-decoration:none; outline:none}.accordionmenu .menuitemspan a.menutext:visited,.accordionmenu .menuitemspan a.menutext:active,.accordionmenu a.menuitem:visited,.accordionmenu .menuitem:active{ color:white; outline:none}.accordionmenu .menuitemspan .statusicon,.accordionmenu a.menuitem .statusicon{    position:absolute;    top:6px;    right:5px;    border:none}.accordionmenu div.submenu ul li a{    background-color:#FFF;    color:#FFF;    outline:none}.accordionmenu div.submenu ul a.subexpandable .substatusicon{    border:none;    float:right;    padding-right:5px;    padding-top:4px;    _margin-top:4px;    _margin-right:5px}.accordionmenu div.submenu ul a.sub2expandable .sub2statusicon{    border:none;    float:right;    padding-right:5px;    padding-top:4px;    _margin-top:4px;    _margin-right:5px}.accordionmenu a.menuitem:hover{    background-image:url(images/treemenu_header_hover.png); color:black}.accordionmenu div.submenu{ background:white}.accordionmenu div.submenu ul{ list-style-type:none; margin:0; padding-left:15px}.accordionmenu div.submenu ul.subcategoryitems,.accordionmenu div.submenu ul.sub2categoryitems{ padding-left:0px}.accordionmenu div.submenu ul.subcategoryitems a{ margin-left:20px; outline:none; border-bottom:1px solid #C1BAAE; background-color:#FFF}.accordionmenu div.submenu ul.sub2categoryitems a{ margin-left:40px; background-color:#FFF; outline:none; border-bottom:1px solid #C1BAAE} .accordionmenu div.submenu ul.subcategoryitems li{ border-bottom:none; _margin:0; _padding:0; padding-bottom:0; margin-bottom:0}.accordionmenu div.submenu ul.subcategoryitems a{ padding-top:2px; padding-bottom:2px}.accordionmenu div.submenu ul a{ display:block; font:normal 12px Arial,sans-serif; color:black; text-decoration:none; padding:2px 0; padding-left:10px; outline:none; border-bottom:1px solid #C1BAAE}.accordionmenu a:hover,.accordionmenu div.submenu ul a:hover{ background:#ECECEC; color:black}.accordionmenu div.submenu ul.subcategoryitems a:hover{ background-color:#ECECEC; color:black}.statusconsoletext{ text-align:left; width:5em; white-space:nowrap; color:white; font:normal 12px Arial,sans-serif; padding:0}.statussymbol{ width:20px; text-align:center; vertical-align:middle; border:thin inset; font:normal 12px arial,sans-serif}a.consolestatuslink,a.consolestatuslink:active,a.consolestatuslink:hover,a.consolestatuslink:visited{ color:#000; text-decoration:none; outline:none} a.consolestatuslink:hover{ text-decoration:underline}.okstatus{ background-color:#4EFF46}.warnstatus{ background-color:#FFEB3A}.inprogressstatus{ background-color:#f99d1c}.errorstatus{ background-color:red}.inactivestatus{ background-color:silver}.debugstatus{ background-color:#009B9B}

div.lightbox {
	font: serif;
	font-size: .8em;
	background-color: #fff;
	border: 1px solid #999;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 12px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 450px;
	padding: 0;
	margin: 0 auto
}

div.lightbox tr:first-child td {
	-moz-border-top-left-radius: 8px;
	-moz-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 10px;
	text-align: center
}

div.lightbox tr:last-child td:last-child {
	-moz-border-bottom-left-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

div.close {
	position: absolute;
	margin-left: -15px;
	margin-top: -12px
}

div.topic_info {
	border: 1;
	border-color: #DDD;
	border-style: solid;
	margin: 0px 20px
}

div.lightbox table.outer {
	width: 100%;
	height: 20%;
	font-size: 9pt;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px
}

div.lightbox table.inner {
	border: 2;
	width: 100%;
	height: 20%;
	border-color: #ddd
}

div.lightbox table.site_table {
	border: 2;
	width: 100%;
	height: 20%;
	border-color: #ddd;
	align: center
}

div.lightbox td.topic_info {
	padding: 10px;
	font-size: 0.7em;
	text-align: right
}

div.lightbox th {
	font-size: 13px
}

div.lightbox td {
	padding: 10px
}

div.lightbox table.outer tr {
	background-color: #fff;
	color: #000;
}

div.lightbox table.outer>tbody>tr:first-child {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#579),
		to(#246) );
	background: #579;
	background: -moz-linear-gradient(top, #579 0%, #246 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #579),
		color-stop(100%, #246) );
	background: -webkit-linear-gradient(top, #579 0%, #246 100%);
	background: -o-linear-gradient(top, #579 0%, #246 100%);
	background: -ms-linear-gradient(top, #579 0%, #246 100%);
	background: linear-gradient(to bottom, #579 0%, #246 100%);
	color: white;
	line-height: 75%;
	font-size: 10pt;
}

div.lightbox .instructional,div.lightbox .otherinstruction {
	width: 88%;
	margin: 0px auto;
	font-size: 11px;
}

div.lightbox td#buttons {
	padding-top: 0;
}

div.lightbox div#buttons {
	text-align: right;
	padding-right: 8px;
}

div.lightbox div#buttons span {
	padding: 0px 3px
}

div.lightbox hr {
	border: none;
	border-top: 1px solid #ddd
}

div.lightbox div#buttons button {
	padding-right: 20px;
	padding-left: 20px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#579),
		to(#246) );
	background: #579;
	background: -moz-linear-gradient(top, #579 0%, #246 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #579),
		color-stop(100%, #246) );
	background: -webkit-linear-gradient(top, #579 0%, #246 100%);
	background: -o-linear-gradient(top, #579 0%, #246 100%);
	background: -ms-linear-gradient(top, #579 0%, #246 100%);
	background: linear-gradient(to bottom, #579 0%, #246 100%)
}

div.lightbox input[type="button"],input[type="submit"] {
	width: auto;
	color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #579;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#579),
		to(#246) );
	background: -moz-linear-gradient(top, #579 0%, #246 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #579),
		color-stop(100%, #246) );
	background: -webkit-linear-gradient(top, #579 0%, #246 100%);
	background: -o-linear-gradient(top, #579 0%, #246 100%);
	background: -ms-linear-gradient(top, #579 0%, #246 100%);
	background: linear-gradient(to bottom, #579 0%, #246 100%)
}

div.lightbox input[type="button"][disabled] {
	background: gray
}

.form_table {
	margin: 0 auto;
	text-align: left
}

.form_table th {
	margin: 0 auto;
	text-align: center
}

.form_table tr:first-child td {
	text-align: left
}

.form_table input {
	width: 100%
}

.form_table input[type="button"],input[type="checkbox"] {
	width: auto
}

.lightbox input[type="text"],input[type="password"] {
 	width: 90%;
}
#popup_container{font-family:'Myriad Set','Lucida Grande',sans-serif;font-size:12px;min-width:300px;max-width:600px;background:#FFF;color:#white;border:1px solid #ccc;-webkit-box-shadow:rgba(0,0,0,0.25) 5px 5px 12px;border-radius:10px;padding:0;margin:0 auto;z-index:9999999999}#popup_title{background:#579;background:-moz-linear-gradient(top,#579 0%,#246 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#579),color-stop(100%,#246));background:-webkit-linear-gradient(top,#579 0%,#246 100%);background:-o-linear-gradient(top,#579 0%,#246 100%);background:-ms-linear-gradient(top,#579 0%,#246 100%);background:linear-gradient(to bottom,#579 0%,#246 100%); font-size:12px;font-weight:bold;text-align:center;line-height:1.75em;color:white;border-top-left-radius:10px;border-top-right-radius:10px;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#579),to(#246));border-bottom:solid 1px #ccc;cursor:default;padding:4px;margin:0}#popup_message{font-size:10px}#popup_content{padding:1em 1.75em;margin:0em;text-align:center}#popup_panel{margin-top:10px}#popup_prompt{margin:.5em 0em}
#menu_ul {
	background: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#579), to(#246)
		);
	background: #579;
	background: -moz-linear-gradient(top, #579 0%, #246 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #579),
		color-stop(100%, #246) );
	background: -webkit-linear-gradient(top, #579 0%, #246 100%);
	background: -o-linear-gradient(top, #579 0%, #246 100%);
	background: -ms-linear-gradient(top, #579 0%, #246 100%);
	background: linear-gradient(to bottom, #579 0%, #246 100%);
	position: relative;
	margin: 0;
	height: 100%;
	border-radius: 8px;
	font-size: 10pt;
	font-family: Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
	width: 100%;
	padding: 0 0 0 0;
	list-style: none;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 2px 1px #9c9c9c
}

#menu_ul li {
	margin-right: 0px;
	border-right: 1px solid #135;
	text-align: center;
	height: 24px;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	position: relative;
	line-height: 0
}

.user {
		width: 16.6%;	
} 

.admin {
		width: 20%;	
} 

#menu_ul a {
	float: left;
	width: 100%;
	padding: 16px 0 0 0;
	color: white;
	font-size: 13px;
	font-family: Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
	text-decoration: none
}

#menu_ul li:HOVER {
	background: #245687;
	border-radius: 6px;
	text-shadow: 0 0 0px white
}

#menu_ul li:hover>a {
	border-radius: 6px;
	text-shadow: 0 0 0px white
}

#menu_ul li a:hover {
	color: #fafafa
}

#menu_ul li:hover>ul {
	background: #527496;
	list-style: none;
	margin: 0;
	border-radius: 0px 0px 6px 6px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
	font-family: Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
	display: block
}

#menu_ul ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 34px;
	left: 0;
	z-index: 99999;
	background: #444;
	background: -moz-linear-gradient(#444, #111);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111),
		color-stop(1, #444) );
	background: -webkit-linear-gradient(#444, #111);
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
	-webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
	box-shadow: 0 0 2px rgba(255, 255, 255, .5);
	-moz-border-radius: 6px;
	border-radius: 6px
}

#menu_ul ul ul {
	top: 0;
	left: 100%
}

#menu_ul ul li {
	height: 24px;
	width: 100%;
	float: none;
	margin: 0;
	display: block;
	/* border-bottom: 1px solid #135; */
	-moz-box-shadow: 1px 1px 1px #135;
	-webkit-box-shadow: 1px 1px 1px #135;
	box-shadow: 1px 1px 1px #135;
}

#menu_ul ul li:last-child {
	/* -moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none */
	border-radius: 0 0 6px 6px;
}

#menu_ul ul a {
	height: 10px;
	min-width: 130px;
	width: 100%;
	line-height: 1;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none
}

* html #menu_ul ul a {
	height: 10px
}

*:first-child+html #menu_ul ul a {
	height: 10px
}

#menu_ul ul li:first-child>a {
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0
}

#menu_ul ul li:first-child a:hover:after {
	border-bottom-color: #246
}

#menu_ul ul ul li:first-child a:hover:after {
	border-right-color: #246;
	border-bottom-color: transparent
}

#menu_ul ul li:last-child>a {
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px
}

#menu_ul:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0
}

#menu_ul li.active {
	background: #246;
	border-radius: 6px;
	padding-top: 4px;
	padding-bottom: 4px
}

#menu_ul li ul li {
	border-right: none
}

#menu_ul li ul li.hover {
	background: #246;
	left: auto;
	border-radius: 6px;
	padding-top: 4px;
	padding-bottom: 4px
}

#menu_ul li ul a {
	padding-top: 10px;
	font-size: 12px
}

* html #menu_ul {
	zoom: 1
}

*:first-child+html #menu_ul {
	zoom: 1
}
/*jquery.treeTable.css  */
.treeTable tr td .expander{ cursor:pointer; padding:0; zoom:1}.treeTable tr td a.expander{  background-position:left center;  background-repeat:no-repeat;  color:#000;  text-decoration:none}.treeTable tr.collapsed td a.expander{  background-image:url(images/toggle-expand-dark.png)}.treeTable tr.expanded td a.expander{  background-image:url(images/toggle-collapse-dark.png)}.treeTable tr.selected,.treeTable tr.accept{  background-color:#3875d7}.treeTable tr.selected a.expander,.treeTable tr.accept a.expander{  color:#fff}.treeTable tr.collapsed.selected td a.expander,.treeTable tr.collapsed.accept td a.expander{  background-image:url(images/toggle-expand-light.png)}.treeTable tr.expanded.selected td a.expander,.treeTable tr.expanded.accept td a.expander{  background-image:url(images/toggle-collapse-light.png)}.treeTable .ui-draggable-dragging{ color:#000; z-index:1}.ui-helper-hidden{display:none}
/*jquery.datatables.css  */
table.dataTable{margin:0 auto;clear:both;width:100%;border-collapse:collapse}table.dataTable thead th{padding:3px 18px 3px 10px;border-right:1px solid #969696;border-top:1px solid #969696;border-left:1px solid #969696;font-weight:normal;cursor:default;*cursor:hand;text-align:left;background:-webkit-gradient(linear,0 0%,0 100%,from(white),to(#EBEBEB));background:#EBEBEB;background:-moz-linear-gradient(top,#fff 0%,#ebebeb 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ebebeb));background:-webkit-linear-gradient(top,#fff 0%,#ebebeb 100%);background:-o-linear-gradient(top,#fff 0%,#ebebeb 100%);background:-ms-linear-gradient(top,#fff 0%,#ebebeb 100%);background:linear-gradient(to bottom,#fff 0%,#ebebeb 100%);color:#135}table.dataTable tfoot th{padding:3px 18px 3px 10px;border-top:1px solid black;font-weight:bold}table.dataTable td{padding:3px 10px;border:1px solid #687588;color:#555}table.dataTable td.center,table.dataTable td.dataTables_empty{text-align:center}table.dataTable tr.odd{ background-color:white}table.dataTable tr.even{background-color:white}table.dataTable tr.odd:hover,table.dataTable tr.odd:hover td.sorting_1,table.dataTable tr.even:hover,table.dataTable tr.even:hover td.sorting_1,table.dataTable td.highlighted td.sorting_1,table.dataTable td.highlighted{background-color:#ECECEC}table.dataTable tr.odd td.sorting_1{background-color:white}table.dataTable tr.odd td.sorting_2{background-color:white}table.dataTable tr.odd td.sorting_3{background-color:white}table.dataTable tr.even td.sorting_1{background-color:white}table.dataTable tr.even td.sorting_2{background-color:white}table.dataTable tr.even td.sorting_3{background-color:white}.dataTables_wrapper{position:relative;clear:both;*zoom:1}.dataTables_length{margin-left:8px;float:left}.dataTables_filter{float:right;text-align:right}.dataTables_info{clear:both;float:left}.dataTables_paginate{float:right;text-align:right}.paginate_disabled_previous,.paginate_enabled_previous,.paginate_disabled_next,.paginate_enabled_next{height:19px;float:left;cursor:pointer;*cursor:hand;color:#111 !important}.paginate_disabled_previous:hover,.paginate_enabled_previous:hover,.paginate_disabled_next:hover,.paginate_enabled_next:hover{text-decoration:none !important}.paginate_disabled_previous:active,.paginate_enabled_previous:active,.paginate_disabled_next:active,.paginate_enabled_next:active{outline:none}.paginate_disabled_previous,.paginate_disabled_next{color:#666 !important}.paginate_disabled_previous,.paginate_enabled_previous{padding-left:23px}.paginate_disabled_next,.paginate_enabled_next{padding-right:23px;margin-left:10px}.paginate_enabled_previous{background:url('images/back_enabled.png') no-repeat top left}.paginate_enabled_previous:hover{background:url('images/back_enabled_hover.png') no-repeat top left}.paginate_disabled_previous{background:url('images/back_disabled.png') no-repeat top left}.paginate_enabled_next{background:url('images/forward_enabled.png') no-repeat top right}.paginate_enabled_next:hover{background:url('images/forward_enabled_hover.png') no-repeat top right}.paginate_disabled_next{background:url('images/forward_disabled.png') no-repeat top right}.paging_full_numbers{height:22px;line-height:22px}.paging_full_numbers a:active{outline:none}.paging_full_numbers a:hover{text-decoration:none}.paging_full_numbers a.paginate_button,.paging_full_numbers a.paginate_active{border:1px solid #aaa;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:2px 5px;margin:0 3px;cursor:pointer;*cursor:hand;color:#333 !important}.paging_full_numbers a.paginate_button{background-color:#ddd}.paging_full_numbers a.paginate_button:hover{background-color:#ccc;text-decoration:none !important}.paging_full_numbers a.paginate_active{background-color:#99B3FF}.dataTables_processing{position:absolute;top:50%;left:50%;width:250px;height:30px;margin-left:-125px;margin-top:-15px;padding:14px 0 2px 0;border:1px solid #ddd;text-align:center;color:#999;font-size:14px;background-color:white}.sorting{background:url('images/sort_both.png') no-repeat center right}.sorting_asc{background:url('images/sort_asc.png') no-repeat center right}.sorting_desc{background:url('images/sort_desc.png') no-repeat center right}.sorting_asc_disabled{background:url('images/sort_asc_disabled.png') no-repeat center right}.sorting_desc_disabled{background:url('images/sort_desc_disabled.png') no-repeat center right} table.dataTable th:active{outline:none}.dataTables_scroll{clear:both}.dataTables_scrollBody{*margin-top:-1px;-webkit-overflow-scrolling:touch}
