<?xml version="1.0" encoding="UTF-8" standalone="no"?><!-- The contents of this file will be loaded for each web application -->
<Context path="/queryio" useHttpOnly="false">
	<Loader className='com.querio.lib.trim.WebappLoader' />

    <lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/commons-configuration2-2.1.1.jar</lib>
    <lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/commons-cli-1.2.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/commons-dbcp-1.2.2.jar</lib>
    <lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/commons-io-2.5.jar</lib>
 	<lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/commons-logging-1.1.3.jar</lib> 
 	<lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/commons-net-3.6.jar</lib> 
 	<lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/commons-pool-1.4.jar</lib> 
	<lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/guava-11.0.2.jar</lib> 
    <lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/htrace-core4-4.1.0-incubating.jar</lib>
 	<lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/jregex-1.2_01.jar</lib> 
	<lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/jsch-0.1.54.jar</lib> 
    <lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/log4j-1.2.17.jar</lib>
    <lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/protobuf-java-2.5.0.jar</lib> 
	<lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/slf4j-api-1.7.25.jar</lib>
    <lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/snappy-java-1.0.5.jar</lib>
    <lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/lib/LZ4Java.jar</lib>
    <lib>$USER_INSTALL_DIR$/services/Hadoop-3.1.1/share/hadoop/common/QueryIOPlugins.jar</lib>
<!--     <lib>$USER_INSTALL_DIR$/services/QueryIOServers/lib/tika-app-1.3-modified.jar</lib> -->
    <lib>$USER_INSTALL_DIR$/services/QueryIOAgent/webapps/agentqueryio/WEB-INF/lib/commons-collections-3.1.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/QueryIOAgent/webapps/agentqueryio/WEB-INF/lib/dom4j-1.4.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/QueryIOAgent/webapps/agentqueryio/WEB-INF/lib/wstx-asl-3.0.2.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/QueryIOAgent/webapps/agentqueryio/WEB-INF/lib/log4j-1.2.8.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/QueryIOAgent/webapps/agentqueryio/WEB-INF/lib/commons-betwixt-0.8.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/QueryIOAgent/webapps/agentqueryio/WEB-INF/lib/commons-lang-2.1.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/QueryIOAgent/webapps/agentqueryio/WEB-INF/lib/commons-beanutils-1.7.0.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/QueryIOAgent/webapps/agentqueryio/WEB-INF/lib/commons-digester-1.7.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/QueryIOAgent/webapps/agentqueryio/WEB-INF/lib/commons-dbcp-1.2.1.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/QueryIOAgent/webapps/agentqueryio/WEB-INF/lib/jakarta-oro-2.0.8.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/QueryIOAgent/webapps/agentqueryio/WEB-INF/lib/commons-codec-1.3.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/QueryIOAgent/webapps/agentqueryio/WEB-INF/lib/stax-api-1.0.1.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/hive-2.1.1/lib/hive-jdbc-2.1.1.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/hive-2.1.1/lib/hive-service-2.1.1.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/hive-2.1.1/lib/libthrift-0.9.3.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/hive-2.1.1/lib/httpclient-4.4.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/hive-2.1.1/lib/httpcore-4.4.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/hive-2.1.1/lib/hive-metastore-2.1.1.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/hive-2.1.1/lib/hive-exec-2.1.1.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/QueryIOServers/lib/json_simple-1.1.jar</lib>
	<lib>$USER_INSTALL_DIR$/services/QueryIOServers/lib/commons-jexl-2.1.1.jar</lib>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
</Context>