#menu_ul {
	background: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#579), to(#246)
		);
	background: #579;
	background: -moz-linear-gradient(top, #579 0%, #246 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #579),
		color-stop(100%, #246) );
	background: -webkit-linear-gradient(top, #579 0%, #246 100%);
	background: -o-linear-gradient(top, #579 0%, #246 100%);
	background: -ms-linear-gradient(top, #579 0%, #246 100%);
	background: linear-gradient(to bottom, #579 0%, #246 100%);
	position: relative;
	margin: 0;
	height: 100%;
	border-radius: 8px;
	font-size: 10pt;
	font-family: Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
	width: 100%;
	padding: 0 0 0 0;
	list-style: none;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 2px 1px #9c9c9c
}

#menu_ul li {
	margin-right: 0px;
	border-right: 1px solid #135;
	text-align: center;
	height: 24px;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	position: relative;
	line-height: 0
}

.user {
		width: 16.6%;	
} 

.admin {
		width: 20%;	
} 


#menu_ul a {
	float: left;
	width: 100%;
	padding: 16px 0 0 0;
	color: white;
	font-size: 13px;
	font-family: Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
	text-decoration: none
}

#menu_ul li:HOVER {
	background: #245687;
	border-radius: 6px;
	text-shadow: 0 0 0px white
}

#menu_ul li:hover>a {
	border-radius: 6px;
	text-shadow: 0 0 0px white
}

#menu_ul li a:hover {
	color: #fafafa
}

#menu_ul li:hover>ul {
	background: #527496;
	list-style: none;
	margin: 0;
	border-radius: 0px 0px 6px 6px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
	font-family: Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
	display: block
}

#menu_ul ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 34px;
	left: 0;
	z-index: 99999;
	background: #444;
	background: -moz-linear-gradient(#444, #111);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111),
		color-stop(1, #444) );
	background: -webkit-linear-gradient(#444, #111);
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
	-webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
	box-shadow: 0 0 2px rgba(255, 255, 255, .5);
	-moz-border-radius: 6px;
	border-radius: 6px
}

#menu_ul ul ul {
	top: 0;
	left: 100%
}

#menu_ul ul li {
	height: 24px;
	width: 100%;
	float: none;
	margin: 0;
	display: block;
	/* border-bottom: 1px solid #135; */
	-moz-box-shadow: 1px 1px 1px #135;
	-webkit-box-shadow: 1px 1px 1px #135;
	box-shadow: 1px 1px 1px #135;
}

#menu_ul ul li:last-child {
	/* -moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none */
	border-radius: 0 0 6px 6px;
}

#menu_ul ul a {
	height: 10px;
	min-width: 130px;
	width: 100%;
	line-height: 1;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none
}

* html #menu_ul ul a {
	height: 10px
}

*:first-child+html #menu_ul ul a {
	height: 10px
}

#menu_ul ul li:first-child>a {
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0
}

#menu_ul ul li:first-child a:hover:after {
	border-bottom-color: #246
}

#menu_ul ul ul li:first-child a:hover:after {
	border-right-color: #246;
	border-bottom-color: transparent
}

#menu_ul ul li:last-child>a {
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px
}

#menu_ul:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0
}

#menu_ul li.active {
	background: #246;
	border-radius: 6px;
	padding-top: 4px;
	padding-bottom: 4px
}

#menu_ul li ul li {
	border-right: none
}

#menu_ul li ul li.hover {
	background: #246;
	left: auto;
	border-radius: 6px;
	padding-top: 4px;
	padding-bottom: 4px
}

#menu_ul li ul a {
	padding-top: 10px;
	font-size: 12px
}

* html #menu_ul {
	zoom: 1
}

*:first-child+html #menu_ul {
	zoom: 1
}