


<script type="text/javascript" src="scripts/data_migration.js" ></script>
<link rel="stylesheet" href="styles/jquery.alerts.css" type="text/css" />

<link rel="stylesheet" href="styles/bootstrap.min.css">
<link rel="stylesheet" href="styles/jquery.fileupload-ui.css">

<script src="scripts/tmpl.min.js"></script>
<script src="scripts/jquery.iframe-transport.js"></script>
<script src="scripts/jquery.fileupload.js"></script>
<script src="scripts/jquery.fileupload-ui.js"></script>
<script src="scripts/dataConnections.js"></script>
<script src="scripts/locale.js"></script>
<script src="scripts/main.js"></script>

<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]><script src="scripts/cors/jquery.xdr-transport.js"></script><![endif]-->

<script src="scripts/jquery.alerts.js"></script>
<div id="adddm" class="lightbox" style="width: 500px;">
	<div id="close" class="close">
		<a href="javascript:DataMigrate.closeBox(true);"><img
			src="images/light-box-close.png"></a>
	</div>
	<table id="data_migrate_table" class="outer">
		<tbody>
			<tr>
				<td id="hdr_td" style="padding: 0pt;">
					<h4 style="font-weight: normal;">
						<span id="headerspan">Data Migration: Import</span>
					</h4>
				</td>
			</tr>
			<tr>
				<td>
					<table align="center" width="100%"	style="border-collapse: collapse;">
						<tr>
							<td id="msg_td">
								<div class="instructional" style=""><span id="instruction"> Import data to HDFS cluster</span> 
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<hr>
							</td>
						</tr>
						<tr>
							<td id="msg_td_1" style="color:red; ">
								<div class="otherinstruction">
								</div>
							</td>
						</tr>
						<tr id="uploadFormTr" style="display: ">
							<td >
								<form id="CommonForm">									
									<div id="dataMigrateCommon">
										<table width="100%" class="form_table">
											<tr>
												<td style="text-align: left; width: 41%;">Title*</td>
												<td style="text-align: left;">
												<input style="width: 90%" type="text" id ="title" name="title" value="DataMigrate1">
												<!-- <input type="button" value="Add Tag" name="tagdata" style="width:37%;" onClick="javascript:DataMigrate.OpenTagData();"> -->
												</td>
												
											</tr>
											
											<!-- <tr>
												<td style="vertical-align: top;">Select Data Tags</td>
												<td>
													<select id="logicalTagsJSONId" name="logicalTagsJSONId" style="width: 94%">	
													</select>
												</td>
											</tr>
											 -->
											<tr>
												<td>Destination NameNode*</td>
												<td><select id="ClusterNameNodeId" name="ClusterNameNodeId" style="width: 239px;"></select>
												</td>
											</tr>
											<tr>
												<td>HDFS Destination Path*</td>
												<td><input type="text" id="hdfsPath" name="hdfsPath" value="/"></td>
											</tr>
											
											<tr>
												<td>Data Compression</td>
												<td><select id="compression" style="width: 239px;" name="compression">
														<option selected value="NONE">NONE</option>
														<option value="SNAPPY">SNAPPY</option>
														<option value="GZ">GZ</option>
														<option value="LZ4">LZ4</option>
													</select>
												</td>
											</tr>
											<tr>
												<td>Data Encryption</td>
												<td><select id="encryption" style="width: 239px;" name="encryption">
														<option selected value="NONE">NONE</option>
														<option value="AES256">AES256</option>
														
													</select>
												</td>
											</tr>
											<tr>
												<td>Data Store</td>
												<td><select id="cloudStore" style="width: 239px;" onchange="javascript:DataMigrate.dataStoreChanged()">
														<option selected value="Local">Local</option>
														<option value="Amazon">Amazon</option>
														<option value="FTP">FTP</option>
														<option value="HDFS">HDFS</option>
														<option value="POP/IMAP">POP/IMAP</option>
														<option value="HTTP/HTTPS">HTTP/HTTPS</option>
														<option value="SSH">SSH</option>	
														<option value="SFTP">SFTP</option>
														<option value="DB">Database</option>																																																						
													</select>
												</td>
											</tr>
										</table>
									</div>
									<!-- AMAZON -->
									<div id = "cloudStoreDiv" style="display: none;">
										<table width="100%" class="form_table">
											<tr>
												<td style="text-align: left; width: 41%;">Data Connection</td>
												<td style="text-align: left;">
													<select id = "connectionIdS3" style="width: 130px;" onchange = "javascript: DataMigrate.s3ConnectionChange(this.id, this.value);">
													</select>
													<button type="button" class="button" style = "width: 100px;" title = "Add a new Data Connection" onclick = "DataMigrate.addNewDataConnection();">Add</button>
												</td>
											</tr>
											
											<tr id = "cloudStoreSubDiv" style="display: ;">
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('cloudStoreSubLink','cloudStoreSubDiv');" style="padding-right: 13px;">
																		hide details
																	</a>
																</td>
															</tr>
															<tr>
																<td style="text-align: left; width: 41%">Access Key</td>
																<td style="text-align: left;"><input type="text" id="accessKey" name="accessKey" ></td>
															</tr>
															<tr>
																<td>Secret Access Key</td>
																<td><input type="text" id="secureAccessKey" name="secureAccessKey" ></td>
															</tr>
														</table>
													</div>
												</td>	
											</tr>
											
											<tr id = "cloudStoreSubLink" style="display: none;">												
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('cloudStoreSubDiv','cloudStoreSubLink');" style="padding-right: 13px;">
																		show details
																	</a>
																</td>
															</tr>
														</table>
													</div>
												</td>
											<tr>
											
											<tr>
												<td>Bucket Name</td>
												<td><input type="text" id="bucketName" name="bucketName"></td>
											</tr>
											<tr>
												<td>Inner Key</td>
												<td><input type="text" id="innerKey" name="innerKey" ></td>
											</tr>											
											<tr>
												<td colspan="2"><input checked type="checkbox" id="secure" >&nbsp;Use SSL&nbsp;
												</td>
											</tr>
											<tr>
												<td colspan="2" style="text-align: left;">
													<input checked="checked" type="checkbox" id="isExtractAmazon" name="isExtractAmazon">&nbsp; Unzip file after upload.
												</td>
											</tr>
											<tr>
												<td colspan="2">
												<hr>
													<div class="otherinstruction">
														
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<input type="button" value="Import" name="migrate" id="importAmazon" style="float: right;" onClick="javascript:DataMigrate.migrateData('true');">
													<input type="button" value="Cancel" name="cancel" id="cancelAmazon" style="float: right;" onClick="javascript:DataMigrate.cancelBox();">
												</td>
											</tr>
										</table>
									</div>
									<!-- FTP -->
									<div id ="ftpStoreDiv" style="display: none">
										<table width="100%" class="form_table">
											<tr>
												<td style="text-align: left; width: 41%;">Data Connection</td>
												<td style="text-align: left;">
													<select id = "connectionIdFTP" style="width: 130px;" onchange = "javascript: DataMigrate.ftpConnectionChange(this.id, this.value);">
													</select>
													<button type="button" style = "width: 100px;" class="button" title = "Add a new Data Connection" onclick = "DataMigrate.addNewDataConnection();">Add</button>
												</td>
											</tr>
											
											<tr id = "ftpStoreSubDiv" style="display: ;">
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('ftpStoreSubLink','ftpStoreSubDiv');" style="padding-right: 13px;">
																		hide details
																	</a>
																</td>
															</tr>
															<tr>
																<td style="text-align:left; width: 41%;">FTP Host</td>
																<td style="text-align: left;"><input type="text" id = "hostname" style="" >
																	<!-- <select id="hostname" style="width: 130px;" ></select>-->
																</td>
															</tr>
															<tr>
																<td style="text-align:left;">FTP Port</td>
																<td style="text-align: left;"><input type="text" id = "portnumber" style="" >
																</td>
															</tr>
															<tr>
																<td>Username</td>
																<td><input type="text" id="username" name="username"></td>
															</tr>
															<tr>
																<td>Password</td>
																<td><input type="password" id="password" name="password" ></td>
															</tr>																														
														</table>
													</div>
												</td>	
											</tr>
											
											<tr id = "ftpStoreSubLink" style="display: none;">												
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('ftpStoreSubDiv','ftpStoreSubLink');" style="padding-right: 13px;">
																		show details
																	</a>
																</td>
															</tr>
														</table>
													</div>
												</td>
											<tr>
																																	
											<tr>
												<td>FTP Source Path</td>
												<td><input type="text" id="sourcePath" name="sourcePath" value="/"></td>
											</tr>
											<tr>
												<td colspan="2" style="text-align: left;">
													<input checked="checked" type="checkbox" id="isExtractFTP" name="isExtractFTP">&nbsp; Unzip file after upload.
												</td>
											</tr>
											<tr>
												<td colspan="2">
												<hr>
													<div class="otherinstruction">
														
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<input type="button" value="Import" name="migrate" id="importFTP" style="float: right;" onClick="javascript:DataMigrate.migrateFTPData('true');">
													<input type="button" value="Cancel" name="cancel" id="cancelFTP" style="float: right;" onClick="javascript:DataMigrate.cancelBox();">		
												</td>
											</tr>
										</table>
									</div>
									<!-- POP -->
									<div id = "emailDiv" style="display: none;">
										<table width="100%" class="form_table">
											<tr>
												<td style="text-align: left; width: 41%;">Data Connection</td>
												<td style="text-align: left;">
													<select id = "connectionIdEmail" onchange="DataMigrate.getAvailableFolders();" style="width: 130px;">
														<option value="0">--Select--</option>
													</select>
													<button type="button" class="button" style = "width: 100px;" title = "Add a new Data Connection" onclick = "DataMigrate.addNewDataConnection();">Add</button>
												</td>
											</tr>
											<tr>
												<td style="text-align: left; width: 41%;">Folder</td>
												<td style="text-align: left;">
													<!-- input type="text" name="emailFolder" id="emailFolder" placeholder="Select Available Folders.." onfocus = "DataMigrate.getAvailableFolders();" 
														onclick = "DataMigrate.getAvailableFolders();" readonly="readonly"-->
													<select id = "emailFolder" name = "emailFolder" style="width: 130px;">
														<option value="0">--No folder--</option>
													</select>
													<img src="images/process.gif" id="processingFolders" style="display: none; height: 12pt; margin-right: 1pt; vertical-align: middle;">
													<!-- button type="button" class="button" id="getAvailableFolders" onclick = "DataMigrate.getAvailableFolders();">Get Available Folders</button -->
													<!-- div id = "filterDiv" class = "filtersBlock" style = "display: none; width: 120px;">
														<span>No folder available</span><br>
													</div -->
												</td>
											</tr>
											<tr>
												<td>Prefix</td>
												<td>
													<input type="text" id="prefixEmail" name="prefixEmail">
												</td>
											</tr>
											<tr>
												<td>Suffix</td>
												<td>
													<input type="text" id="suffixEmail" name="suffixEmail">
												</td>
											</tr>
											<tr>
												<td>Start Date</td>
												<td>
													<input type="text" id="startDateEmail" name="startDateEmail">
													<label style="font: 9px; color: #999;">Start date for data interval in YYYY-MM-DD format</label>
												</td>
											</tr>
											<tr>
												<td>End Date</td>
												<td>
													<input type="text" id="endDateEmail" name="endDateEmail">
													<label style="font: 9px; color: #999;">End date for data interval in YYYY-MM-DD format</label>
												</td>
											</tr>
											<tr>
												<td colspan = "2" id="msg_td_2" style="color: blue;">
													<div class="otherinstruction">
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="2">
												<hr>
													<div class="otherinstruction">
														
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<input type="button" value="Import" name="migrate" id="importEmail" style="float: right;" onClick="javascript:DataMigrate.migratePOPData();">
													<input type="button" value="Cancel" name="cancel" id="cancelEmail" style="float: right;" onClick="javascript:DataMigrate.cancelBox();">
												</td>
											</tr>
										</table>
									</div>
									<!-- HTTP -->
									<div id = "httpDiv" style="display: none;">
										<table width="100%" class="form_table">
											<tr>
												<td style="text-align: left; width: 41%;">Data Connection</td>
												<td style="text-align: left;">
													<select id = "connectionIdHttp" style="width: 130px;" onchange = "javascript: DataMigrate.httpConnectionChange(this.id, this.value);">
													</select>
													<button type="button" class="button" style = "width: 100px;" title = "Add a new Data Connection" onclick = "DataMigrate.addNewDataConnection();">Add</button>
												</td>
											</tr>											
											
											<tr id = "httpSubDiv" style="display: ;">
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('httpSubLink','httpSubDiv');" style="padding-right: 13px;">
																		hide details
																	</a>
																</td>
															</tr>
															<tr>
																<td style="width: 41%;">BaseURL</td>
																<td><input type="text" id="httpBaseURL" name="httpBaseURL" value="http://"></td>
															</tr>
															<tr>
																<td>User Name</td>
																<td><input type="text" id="httpUser" name="httpUser"></td>
															</tr>
															<tr>
																<td>Password</td>
																<td><input type="password" id="httpPass" name="httpPass"></td>
															</tr>
														</table>
													</div>
												</td>	
											</tr>
											
											<tr id = "httpSubLink" style="display: none;">												
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('httpSubDiv','httpSubLink');" style="padding-right: 13px;">
																		show details
																	</a>
																</td>
															</tr>
														</table>
													</div>
												</td>
											<tr>
																						
											<tr>
												<td style="text-align: left; width: 41%;">File</td>
												<td style="text-align: left;">
													<input type="text" id="fileFolderHttp" name="fileFolderHttp">
												</td>
											</tr>
											<!--tr>
												<td style="text-align: left; width: 41%;">Parse Pattern</td>
												<td style="text-align: left;">
													<input type="text" id="parsePatternHttp" name="parsePatternHttp">
												</td>
											</tr-->
											<tr>
												<td style="text-align: left; width: 41%;">Character Encoding</td>
												<td>
													<select id="encodingHttp" name="encodingHttp" style="width: 238px;">
														<option value="UTF-8">UTF-8</option>
														<option value="Big5-HKSCS">Big5-HKSCS</option>
														<option value="EUC-JP">EUC-JP</option>
														<option value="EUC-KR">EUC-KR</option>
														<option value="GB18030">GB18030</option>
														<option value="GB2312">GB2312</option>
														<option value="GBK">GBK</option>
														<option value="IBM-Thai">IBM-Thai</option>
														<option value="IBM00858">IBM00858</option>
														<option value="IBM01140">IBM01140</option>
														<option value="IBM01141">IBM01141</option>
														<option value="IBM01142">IBM01142</option>
														<option value="IBM01143">IBM01143</option>
														<option value="IBM01145">IBM01145</option>
														<option value="IBM01146">IBM01146</option>
														<option value="IBM01147">IBM01147</option>
														<option value="IBM01148">IBM01148</option>
														<option value="IBM01149">IBM01149</option>
														<option value="IBM037">IBM037</option>
														<option value="IBM1026">IBM1026</option>
														<option value="IBM1047">IBM1047</option>
														<option value="IBM273">IBM273</option>
														<option value="IBM277">IBM277</option>
														<option value="IBM278">IBM278</option>
														<option value="IBM280">IBM280</option>
														<option value="IBM284">IBM284</option>
														<option value="IBM285">IBM285</option>
														<option value="IBM297">IBM297</option>
														<option value="IBM420">IBM420</option>
														<option value="IBM424">IBM424</option>
														<option value="IBM437">IBM437</option>
														<option value="ISO-2022-CN">ISO-2022-CN</option>
														<option value="ISO-2022-JP">ISO-2022-JP</option>
														<option value="ISO-2022-JP-2">ISO-2022-JP-2</option>
														<option value="ISO-2022-KR">ISO-2022-KR</option>
														<option value="ISO-8859-1">ISO-8859-1</option>
														<option value="ISO-8859-13">ISO-8859-13</option>
														<option value="ISO-8859-15">ISO-8859-15</option>
														<option value="ISO-8859-2">ISO-8859-2</option>
														<option value="ISO-8859-3">ISO-8859-3</option>
														<option value="ISO-8859-4">ISO-8859-4</option>
														<option value="ISO-8859-5">ISO-8859-5</option>
													</select>
												</td>
											</tr>
											<tr>
												<td colspan="2">
												<hr>
													<div class="otherinstruction">
														
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<input type="button" value="Import" name="migrate" id="importHttp" style="float: right;" onClick="javascript:DataMigrate.migrateHTTPData('true');">
													<input type="button" value="Cancel" name="cancel" id="cancelHttp" style="float: right;" onClick="javascript:DataMigrate.cancelBox();">
												</td>
											</tr>
										</table>
									</div>
									<!-- LOCAL -->
									<div id = "localStoreDiv" style="display: ">
										<table width="100%" class="form_table">
											<tr>
												<td colspan="2">
													<hr>
													<div class="otherinstruction">
														
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<input type="button" value="Next" name="next" style="float: right; width:60px;" onClick="javascript:DataMigrate.nextLocalData();">
													<input type="button" value="Cancel" name="cancel" style="float: right; width:60px;" onClick="javascript:DataMigrate.cancelBox(true);">		
													<!-- <input type="button" value="Tag Data" name="tagdata" style="float: right; width:70px;" onClick="javascript:DataMigrate.OpenTagData();">	 -->												
												</td>
											</tr>
										</table>
									</div>
									
									<!-- HDFS IMPORT -->
									<div id = "HDFSDiv" style="display: none;">
										<table width="100%" class="form_table">
											<tr>
												<td style="text-align: left; width: 41%;">Data Connection</td>
												<td style="text-align: left;">
													<select id = "connectionIdHDFS" style="width: 130px;" onchange = "javascript: DataMigrate.hdfsConnectionChange(this.id, this.value);">
													</select>
													<button type="button" class="button" style = "width: 100px;" title = "Add a new Data Connection" onclick = "DataMigrate.addNewDataConnection();">Add</button>
												</td>
											</tr>
											
											<tr id = "HDFSSubDiv" style="display: ;">
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('HDFSSubLink','HDFSSubDiv');" style="padding-right: 13px;">
																		hide details
																	</a>
																</td>
															</tr>
															<tr>
																<td style="text-align: left; width: 41%;">Host</td>
																<td style="text-align: left;"><input type="text" id="HDFShost" name="HDFShost" value="hdfs://" ></td>
															</tr>
															<tr>
																<td>Port</td>
																<td><input type="text" id="HDFSport" name="HDFSport" ></td>
															</tr>
														</table>
													</div>
												</td>	
											</tr>
											
											<tr id = "HDFSSubLink" style="display: none;">												
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('HDFSSubDiv','HDFSSubLink');" style="padding-right: 13px;">
																		show details
																	</a>
																</td>
															</tr>
														</table>
													</div>
												</td>
											<tr>
											
											<tr>
												<td>Root Path Prefix</td>
												<td><input type="text" id="HDFSroot" name="HDFSroot"></td>
											</tr>
											<!--tr>
												<td colspan="2"><input checked type="checkbox" id="secure" >&nbsp;Use SSL&nbsp;
												</td>
											</tr-->
											<tr>
												<td colspan="2" style="text-align: left;">
													<input checked="checked" type="checkbox" id="isExtractHDFS" name="isExtractHDFS">&nbsp; Unzip file after upload.
												</td>
											</tr>
											<tr>
												<td colspan="2">
												<hr>
													<div class="otherinstruction">
														
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<input type="button" value="Import" name="migrate" id="importHDFS" style="float: right; width:60px;" onClick="javascript:DataMigrate.migrateHDFSData('true');">
													<input type="button" value="Cancel" name="cancel" id="cancelHDFS" style="float: right; width:60px;" onClick="javascript:DataMigrate.cancelBox();">
												</td>
											</tr>
										</table>
									</div>
									
									
									<!-- SSH IMPORT -->
									<div id = "SSHDiv" style="display: none;">
										<table width="100%" class="form_table">
											<tr>
												<td style="text-align: left; width: 41%;">Data Connection</td>
												<td style="text-align: left;">
													<select id = "connectionIdSSH" style="width: 130px;" onchange = "javascript: DataMigrate.sshConnectionChange(this.id, this.value);">
													</select>
													<button type="button" class="button" style = "width: 100px;" title = "Add a new Data Connection" onclick = "DataMigrate.addNewDataConnection();">Add</button>
												</td>
											</tr>
											
											<tr id = "SSHSubDiv" style="display: ;">
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('SSHSubLink','SSHSubDiv');" style="padding-right: 13px;">
																		hide details
																	</a>
																</td>
															</tr>
															<tr>
																<td style="text-align: left; width: 41%;">Host</td>
																<td style="text-align: left;"><input type="text" id="SSHhost" name="SSHhost" ></td>
															</tr>
															<tr>
																<td>Port</td>
																<td><input type="text" id="SSHport" name="SSHport" ></td>
															</tr>
															
															<tr>
																<td>User Name</td>
																<td><input type="text" id="SSHuser" name="SSHuser"></td>
															</tr>
															<tr>
																<td>Authentication Method</td>
																<td><select id="authMethod" style="width: 95%" name="authMethod" onchange="javascript:authenticationMethodChangedMigrate();">
																		<option selected value="SSHp">Password</option>
																		<option value="SSHk">SSH Key</option>
																	</select>
																</td>
															</tr>
															
															
															<tr id="SSHpr" style="display: ">
																<td>Password</td>
																<td><input type="password" id="SSHpass" name="SSHpass"></td>
															</tr>											
															<tr id="SSHkr" style="display:none;">
																<td>SSH Key</td>
																<td><input type="text" id="SSHkey" name="SSHkey"></td>
															</tr>																										
														</table>
													</div>
												</td>	
											</tr>
											
											<tr id = "SSHSubLink" style="display: none;">												
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('SSHSubDiv','SSHSubLink');" style="padding-right: 13px;">
																		show details
																	</a>
																</td>
															</tr>
														</table>
													</div>
												</td>
											<tr>
											
											<tr>
												<td>SSH Source Path</td>												
												<td><input style="width: 226px;" id="SSHroot" name="SSHroot"></input>
												</td>
											</tr>											
											<tr>
												<td colspan="2" style="text-align: left;">
													<input checked="checked" type="checkbox" id="isExtractSSH" name="isExtractSSH">&nbsp; Unzip file after upload.
												</td>
											</tr>
											<tr>
												<td colspan="2">
												<hr>
													<div class="otherinstruction">
														
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<input type="button" value="Import" name="migrate" id="importSSH" style="float: right; width:60px;" onClick="javascript:DataMigrate.migrateSSHData('true');">
													<input type="button" value="Cancel" name="cancel" id="cancelSSH" style="float: right; width:60px;" onClick="javascript:DataMigrate.cancelBox();">
												</td>
											</tr>
										</table>
									</div>
									
									<!-- SFTP IMPORT -->
									<div id = "SFTPDiv" style="display: none;">
										<table width="100%" class="form_table">
											<tr>
												<td style="text-align: left; width: 41%;">Data Connection</td>
												<td style="text-align: left;">
													<select id = "connectionIdSFTP" style="width: 130px;" onchange = "javascript: DataMigrate.sftpConnectionChange(this.id, this.value);">
													</select>
													<button type="button" class="button" style = "width: 100px;" title = "Add a new Data Connection" onclick = "DataMigrate.addNewDataConnection();">Add</button>
												</td>
											</tr>
											
											
											
											<tr id = "SFTPSubDiv" style="display: ;">
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('SFTPSubLink','SFTPSubDiv');" style="padding-right: 13px;">
																		hide details
																	</a>
																</td>
															</tr>
															<tr>
																<td style="text-align:left; width: 41%;">SFTP Host</td>
																<td style="text-align: left;"><input type="text" id = "SFTPhost" style="" >
																	<!-- <select id="hostname" style="width: 130px;" ></select>-->
																</td>
															</tr>
															<tr>
																<td style="text-align:left;">SFTP Port</td>
																<td style="text-align: left;"><input type="text" id = "SFTPport" style="" >
																</td>
															</tr>
															<tr>
																<td>Username</td>
																<td><input type="text" id="SFTPuser" name="SFTPuser"></td>
															</tr>
															<tr>
																<td>Password</td>
																<td><input type="password" id="SFTPpass" name="SFTPpass" ></td>
															</tr>														
														</table>
													</div>
												</td>	
											</tr>
											
											<tr id = "SFTPSubLink" style="display: none;">												
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('SFTPSubDiv','SFTPSubLink');" style="padding-right: 13px;">
																		show details
																	</a>
																</td>
															</tr>
														</table>
													</div>
												</td>
											<tr>
											
											
											
											<tr>
												<td>SFTP Source Path</td>
												<td>
												<input type="text" id="SFTPpath" name="SFTPpath" value="/">
												</td>
											</tr>
											<tr>
												<td colspan="2" style="text-align: left;">
													<input checked="checked" type="checkbox" id="isExtractSFTP" name="isExtractFTP">&nbsp; Unzip file after upload.
												</td>
											</tr>
											<tr>
												<td colspan="2">
												<hr>
													<div class="otherinstruction">
														
													</div>
												</td>
											</tr>
											
											<tr>
												<td colspan="2">
													<input type="button" value="Import" name="migrate" id="importSFTP" style="float: right; width:60px;" onClick="javascript:DataMigrate.migrateSFTPData('true');">
													<input type="button" value="Cancel" name="cancel" id="cancelSFTP" style="float: right; width:60px;" onClick="javascript:DataMigrate.cancelBox();">
												</td>
											</tr>
										</table>
									</div>
									<!-- DATABASE IMPORT -->
									<div id = "DataBaseDiv" style="display: none;">
										<table width="100%" class="form_table">
											<tr>
												<td style="text-align: left; width: 41%;">Data Connection</td>
												<td style="text-align: left;">
													<select id = "connectionIdDB" style="width: 130px;" onchange = "javascript: DataMigrate.dbConnectionChange(this.id, this.value);">
													</select>
													<button type="button" class="button" style = "width: 100px;" title = "Add a new Data Connection" onclick = "DataMigrate.addNewDataConnection();">Add</button>
												</td>
											</tr>
											
											<tr id = "DataBaseSubDiv" style="display: none;">
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('DataBaseSubLink','DataBaseSubDiv');" style="padding-right: 13px;">
																		hide details
																	</a>
																</td>
															</tr>
															<tr>
																<td style="text-align:left; width: 41%;">DataBase Driver Class</td>
																<td style="text-align: left;"><input type="text" id = "DBDriverClassMig" style="" >
																</td>
															</tr>
															<tr>
																<td>DataBase Connection URL</td>
																<td style="text-align: left;"><input type="text" id = "DBConnectionURLMig" style="" >
																</td>
															</tr>
															<tr>
																<td>Username</td>
																<td><input type="text" id="DataBaseUserMig" ></td>
															</tr>
															<tr>
																<td>Password</td>
																<td><input type="password" id="DataBasePassMig"  ></td>
															</tr>
														</table>
													</div>
												</td>	
											</tr>
											
											<tr id = "DataBaseSubLink" style="display: ;">												
												<td colspan="2" style="width: 100%; padding: 0px;">
													<div>
														<table style="width: 100%;">
															<tr>
																<td></td>
																<td style="float: right;">
																	<a href = "javascript: DataMigrate.showhide('DataBaseSubDiv','DataBaseSubLink');" style="padding-right: 13px;">
																		show details
																	</a>
																</td>
															</tr>
														</table>
													</div>
												</td>
											<tr>
											
											<tr>
												<td>Import all tables from database</td>
												<td><input type="checkbox" checked="checked" id="DataBaseImportAll" onclick="javascript:DataConnection.checkRequest();" ></td>
											</tr>
											<tr id="db_tables" style="display: none;">
												<td>Select tables</td>
												<td><input type="search" id="srch_from_fld"  placeholder="From Tables..." results="0" onfocus="DataMigrate.showFromFilters(this);" onclick="DataMigrate.showFromFilters(this);" style="width: 94%;" readonly="">
												<div id="searchFromFilters" class="filtersBlock" style="display: none;">
												</div>
												</td>
											</tr>
											
											<tr>
												<td colspan="2">
												<hr>
													<div class="otherinstruction">
														
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<input type="button" value="Import" name="migrate" id="importDB" style="float: right;" onClick="javascript:DataMigrate.migrateDBData('true');">
													<input type="button" value="Cancel" name="cancel" id="cancelDB" style="float: right;" onClick="javascript:DataMigrate.cancelBox();">
												</td>
											</tr>											
										</table>
									</div>
									
								</form>
								<div id="FileDelectionDiv" style="display: none;">
								
										<div class="container">
										    <!-- The file upload form used as target for the file upload widget -->
										    <form id="fileupload" action="FileUpload" method="POST" enctype="multipart/form-data">
										        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
										        <div class="row fileupload-buttonbar">
										            <div class="span7">
										                <!-- The fileinput-button span is used to style the file input field as button -->
										                <span class="btn btn-success fileinput-button">
										                	
										                	<input type="hidden" name="logicalTagsJSONId" id="logicalTagsJSONIdLocal" value="">
										                	<input type="hidden" name="ClusterNameNodeId" id="ClusterNameNodeIdLocal" value="">
															<input type="hidden" name="hdfsPath" id="hdfsPathLocal" value="">
															<input type="hidden" name="compressionType" id="compressionType" value="">
															<input type="hidden" name="encryptionType" id="encryptionType" value="">
															<input type="hidden" name="extractArchives" id="extractArchives" value="false">
															<input type="hidden" name="fileSize" id="fileSize" value="">
										                    
										                    <span><b>Add Files</b></span>
										                    <input type="file" name="files[]" multiple>
										                </span>
										                <button type="submit" class="btn btn-primary start">
										                    <span>Upload All</span>
										                </button>
										                <button type="reset" class="btn btn-warning cancel">
										                    <span>Cancel All</span>
										                </button>
										            </div>
										            <!-- The global progress information -->
										            <div class="span5 fileupload-progress fade">
										                <!-- The global progress bar -->
										                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
										                    <div class="bar" style="width:0%;"></div>
										                </div>
										                <!-- The extended global progress information -->
										                <div class="progress-extended">&nbsp;</div>
										            </div>
										        </div>
										        <div style= "max-height:400px; width:600px; overflow-y: auto; overflow-x: auto;">
											        <!-- The loading indicator is shown during file processing -->
											        <div class="fileupload-loading"></div>
											        <br>
											        <!-- The table listing the files available for upload/download -->
											        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
										    	</div>
										    </form>
										    <br>
										    <input type = "button" value = "Close" id = 'closeUploadFormButton' style = "float: right; width:60px;" onclick = "javascript:DataMigrate.closeBox(true);" >
										    <input type = "button" value = "Back" id = 'backButtonUploadForm' style = "float: right; width:60px;" onclick = "javascript:DataMigrate.hideFileUploadWizard();" >
										</div>
										
										<!-- The template to display files available for upload -->
										<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
	<tr class="template-upload fade">
        <td class="name" style="text-align: left; padding: 5px;"><span>{%=file.name%}</span></td>
		<td class="size" nowrap="nowrap" style="text-align: left; padding: 5px;"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="3" nowrap="nowrap" style="text-align: left; padding: 5px;">
				<span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}
			</td>
        {% } else if (o.files.valid && !i) { %}
            <td style="padding: 5px;">
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
			<td nowrap="nowrap" style="text-align: left; padding: 5px;"><span>
				{%
					if(file.name.substring(file.name.length-4, file.name.length) == ".zip" || file.name.substring(file.name.length-4, file.name.length) == ".ZIP")
					{
						DataMigrate.fileIsUnzipStatus[file.name] = true;
				%}
					<input checked="checked" type="checkbox" id="isExtract" name="isExtract" onchange="DataMigrate.setUnzip(this.checked, '{%=file.name%}')">Unzip file after upload.
				{% } else {
						DataMigrate.fileIsUnzipStatus[file.name] = false;
				%}
					<input disabled type="checkbox" id="isExtract" name="isExtract">Unzip file after upload.
				{% }
					DataMigrate.fileSizeStatus[file.name] = file.size;
				%}
				</span>
			</td>
            <td class="start" "style: padding: 5px;">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="3" style="padding: 5px;"></td>
        {% } %}
        <td class="cancel" style="padding: 5px;">{% if (!i) { %}
            <button class="btn btn-warning">
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
	</script>
											<!-- The template to display files available for download -->
											<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td class="name" style="text-align: left; padding: 5px;"><span>{%=file.name%}</span></td>
            <td class="size" nowrap="nowrap" style="text-align: left; padding: 5px;"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="3" nowrap="nowrap" style="text-align: left; padding: 5px;">
				<a href="javascript:Navbar.showServerLog();"><span class="label label-important">{%=locale.fileupload.error%}</span></a> {%=locale.fileupload.errors[file.error] || file.error%}
			</td>
        {% } else { %}
            <td class="name" style="text-align: left; padding: 5px;"><span>{%=file.name%}</span></td>
            <td class="size" nowrap="nowrap" style="text-align: left; padding: 5px;"><span>{%=o.formatFileSize(file.size)%}</span></td>
			<td class="success" colspan="3" style="text-align: left; padding: 5px;">
				<span class="label label-success">{%=locale.fileupload.success%}</span> {%=file.success%}
			</td>
        {% } %}
    </tr>
{% } %}
	</script>
									
								</div>
							
							</td>
						</tr>
						<tr id="uplaodStatusTr" style="display: none;">
							<td>
								<div id="uploadStatusDiv">
									
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div>
<iframe id="responseFrame" style="display: none;"></iframe>
</div>
<script>
$('#title').val("DataMigrate"+(totalMigration+1));
DataMigrate.fillClusterNameNodeID();
DataMigrate.fillTagIDs();
</script>
<script type="text/javascript">
	function authenticationMethodChangedMigrate(){
		
		if($('#authMethod').val()=='SSHp')
		{			
			$('#SSHpr').css('display','');
			$('#SSHkr').css('display','none');
		}
		else if($('#authMethod').val()=='SSHk'){ 
			$('#SSHpr').css('display','none');
			$('#SSHkr').css('display','');		
		}		
	}
	
</script>